/* Contact Style */
.sc-contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sc-contact-form input,
.sc-contact-form textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  font-family: var(--font-body);
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

.sc-contact-form input:focus,
.sc-contact-form textarea:focus {
  outline: none;
  border-color: var(--accent-color);
  background-color: #fff;
}
