/* Footer Style */
.sc-footer {
  background-color: #000;
  color: #888;
  text-align: center;
  padding: 2rem;
  font-size: 0.8rem;
  font-family: var(--font-heading);
}

.sc-social-icons {
  margin-bottom: 1rem;
}

.sc-social-icons a {
  display: inline-block;
  color: var(--accent-color);
  text-decoration: none;
  margin: 0 0.75rem;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.sc-social-icons a:hover {
  color: var(--text-light);
  transform: translateY(-3px);
}

.sc-social-icons svg {
  width: 25px;
}

.sc-back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--accent-color);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 2000;
  padding: 0;
}
